<tbody
  style='font-family: Arial, sans-serif; font-size: 16px; color: #333333; background-color: #f2f7ff;'
>
  <div
    style='max-width: 600px; margin: 0 auto; padding: 20px; background-color: #ffffff; border-radius: 5px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);'
  >
    <h1 style='color: #0077be;'>VMotor Account Verification</h1>
    <p>Hi there,</p>
    <p>Welcome to VMotor, your app for finding the perfect car at the best price.<br />
      To complete your account registration, please verify your email with the 6-digit
      code provided below:</p>
    <p><span
        style='display: inline-block; padding: 10px; background-color: #0077be; color: #ffffff; 
        font-weight: bold; border-radius: 5px; letter-spacing: 0.02em; font-size: 18px;'
      >{{verificationCode}}</span></p>
    <p>This verification code is valid for 5 minutes. If you don't verify your account
      within that time, you'll need to request another code.</p>
    <p>If you have any questions or need help, please don't hesitate to contact our
      customer support team.</p>
    <p>Thanks for choosing V-Motor.</p>
    <p>Best regards,<br />The VMotor Team</p>
  </div>
</tbody>